extends layout

block content
  div.jumbotron
    h1.display-4 Express Yourself
    p.lead I'm a sentient application, made smarter by Massdriver. I use the javascript language and express runtime to speak my truth.
    hr.my-4
    p ExpressJS application using MongoDB as the backend, running on Massdriver.
  div.container
    div.row.mb-4
      form(name="add-post", method="post")
          div.form-group
            label(for="title") Title
            input.form-text(type="text", name="title")
          div.form-group
              label(for="content") Content
              textarea.form-control(name="content", cols="40", rows="5")
          div.actions
              input.btn.btn-primary(type="submit", value="add")

  div.container
    div.row.mt-4
      table.table
        thead
          tr
            th(scope="col") #
            th(scope="col") Title
            th(scope="col") Content
        tbody
          -var index = 1
          each data in data_posts
            tr
              th(scope="row")= index++
              td= data.title
              td= data.content
